table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}
.headerrow {
  align-items: center;
}
.tbrate {
  align-items: center;
  margin-left: 90px;
}
.comments {
  width: 800px;
  height: 80px;
}

.wrapper {
  transform: translate(-50%, -50%) rotateY(180deg);
  display: flex;
  float: left;
}
.wrapper input {
  display: none;
}
.wrapper label {
  display: block;
  cursor: pointer;
  width: 15px;
}
.wrapper label:before {
  content: "★";
  position: relative;
  display: block;
  font-size: 20px;
  color: black;
}
.wrapper label:after {
  content: "★";
  position: absolute;
  display: block;
  font-size: 20px;
  color: goldenrod;
  top: 0;
  opacity: 0;
  transition: 0.6s;
}
.wrapper label:hover:after,
.wrapper label:hover ~ label:after,
.wrapper input:checked ~ label:after {
  opacity: 1;
}
